/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
h1, h2, h3, h4, h5, h6 {font-family:Helvetica, Arial, sans-serif; font-weight:normal;}
h1#page-title, h2, h3, h4, h5, h6 {color:#0078c1;}
.front h1.title {display:none;}
h1.site-name a:link, h1.site-name a:visited, h2.site-name a:link, h2.site-name a:visited {color:#000;}
h1.site-name a:hover, h2.site-name a:hover {color:#0078c1; text-align:center;}
h1#page-title, h2.block-title {font-size:18px; margin:0 0 5px 0;}
h6.site-slogan  {font-style:italic; font-size:18px; color:#0078c1;}
h5, h6 {margin-bottom:0;}
h2 {font-size:18px; margin:0 0 5px 0;}
.front h2 {color:#fff;}
p {font-size:13px; margin:0 0 10px 0;}

ul {list-style-position: outside;}

h1.site-name, h2.site-name {
    font-size: 22px;
}
h6.site-slogan {font-size:14px;}

.logo-img {float:left; margin:0 auto; width:67px;}
.site-name-slogan {float:right; width:220px;}

#section-header {background:#efefef url(../images/lion.jpg) no-repeat center top; padding:5px 0 0 0;}
#section-content {padding:10px 0;}
#zone-menu-wrapper {display:none;}

.front #section-content .block {color:#FFF; padding:5px;}
#zone-postscript {border-top:1px #ccc solid; margin-top:10px;}
.front #section-content .block .view-tweets tr.odd td, .front #section-content .block .view-tweets tr.even td, #section-content .block .view-tweets tr.odd td, #section-content .block .view-tweets tr.even td {color: black; border:none;}
#section-content .block .view-tweets tr.odd, #section-content .block .view-tweets tr.even {border-bottom:none;}
#section-content .block .view-tweets table {border:none;}
td.views-field-web-intents {width:60px;}
/*.front #region-content .block a:link, .front #region-content .block a:visited {color:#FFF; text-decoration:none;}

.front #region-content .block a:hover {color:#FFF; text-decoration:underline;}*/

#block-block-1 a:link, #block-block-2 a:link, #block-block-3 a:link, #block-block-4 a:link, #block-block-1 a:visited, #block-block-2 a:visited, #block-block-3 a:visited, #block-block-4 a:visited, #block-block-1 a:hover, #block-block-2 a:hover, #block-block-3 a:hover, #block-block-4 a:hover, #block-block-8 a:link, #block-block-8 a:visited, #block-block-8 h2 a:link, #block-block-8 h2 a:visited, #block-block-8 h2 a:hover  {color:#FFF; text-decoration:none;}

#block-block-8 a:hover {text-decoration:underline; color:#FFF;}


#section-footer {background:#0078c1; padding:5px 0 5px 0; color:#FFFFFF;}
#section-footer span.small {font-size:10px;}

#section-footer a:link, #section-footer a:visited {color:#FFF; text-decoration:none;}
#section-footer a:hover, #section-footer a.active {text-decoration:underline;}


#block-block-1 {background: #f24949; /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyNDk0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNzFlMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top,  #f24949 0%, #d71e1e 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f24949), color-stop(100%,#d71e1e)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #f24949 0%,#d71e1e 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #f24949 0%,#d71e1e 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #f24949 0%,#d71e1e 100%); /* IE10+ */

background: linear-gradient(top,  #f24949 0%,#d71e1e 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f24949', endColorstr='#d71e1e',GradientType=0 ); /* IE6-8 */}
#block-block-2 {background: #0598f2; /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1OThmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDc4YzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top,  #0598f2 0%, #0078c1 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0598f2), color-stop(100%,#0078c1)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #0598f2 0%,#0078c1 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #0598f2 0%,#0078c1 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #0598f2 0%,#0078c1 100%); /* IE10+ */

background: linear-gradient(top,  #0598f2 0%,#0078c1 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0598f2', endColorstr='#0078c1',GradientType=0 ); /* IE6-8 */}
#block-block-3 {background: #f1a717; /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxYTcxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYTZmMDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top,  #f1a717 0%, #da6f06 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1a717), color-stop(100%,#da6f06)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #f1a717 0%,#da6f06 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #f1a717 0%,#da6f06 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #f1a717 0%,#da6f06 100%); /* IE10+ */

background: linear-gradient(top,  #f1a717 0%,#da6f06 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1a717', endColorstr='#da6f06',GradientType=0 ); /* IE6-8 */}
#block-block-4 {background: #c52879; /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1Mjg3OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YjFhNGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top,  #c52879 0%, #7b1a4c 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c52879), color-stop(100%,#7b1a4c)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #c52879 0%,#7b1a4c 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #c52879 0%,#7b1a4c 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #c52879 0%,#7b1a4c 100%); /* IE10+ */

background: linear-gradient(top,  #c52879 0%,#7b1a4c 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c52879', endColorstr='#7b1a4c',GradientType=0 ); /* IE6-8 */}
#block-views-brands-block-2 {background: #0470b0; /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA0NzBiMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTRiNzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top,  #0470b0 0%, #014b77 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0470b0), color-stop(100%,#014b77)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #0470b0 0%,#014b77 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #0470b0 0%,#014b77 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #0470b0 0%,#014b77 100%); /* IE10+ */

background: linear-gradient(top,  #0470b0 0%,#014b77 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0470b0', endColorstr='#014b77',GradientType=0 ); /* IE6-8 */}
#block-block-8 {background: #0fad01; /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBmYWQwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYjhhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top,  #0fad01 0%, #0b8a00 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0fad01), color-stop(100%,#0b8a00)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #0fad01 0%,#0b8a00 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #0fad01 0%,#0b8a00 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #0fad01 0%,#0b8a00 100%); /* IE10+ */

background: linear-gradient(top,  #0fad01 0%,#0b8a00 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fad01', endColorstr='#0b8a00',GradientType=0 ); /* IE6-8 */}
#block-block-5, #block-block-6, #block-block-9, #block-views-brands-block-2 .content {display:none;}

#block-views-brands-block-2 h2.block-title {color:#FFF;}

#block-block-1 p, #block-block-2 p, #block-block-4 p, #block-block-6 p, #block-block-9 p, #block-block-3 p, #block-block-5 p, #block-views-brands-block-2 p, #block-block-9 p, #block-block-14 p, #block-block-14 {display:none; }

/*FAQ*/
.faq-question {font-size:14px; padding-left:0;}
.faq-question a:link, .faq-question a:visited  {color:#000; font-size:15px; text-decoration:none;}
.faq-question a:hover, .faq-question a.active  {color:#0078c1; font-size:15px;}

.faq-question:after		{content:""; font-size:12px; color:#999;}
.faq-qa-visible:after 	{content:"";}
.faq-answer  {padding-left:0;}

.faq-answer li {margin:5px 10px;}
.faq-answer ul ul, .faq-answer ul {margin-left:10px;}

/*Contact Page*/
.page-node-20 input.form-text {width:95%;}
.page-node-20 input.form-submit {background:#0078c1; color:#FFF;}

/*Table Styles for Logistics Page */
.page-node-30 td {border:1px solid #FFF; vertical-align:top; padding:0;}

	td.c12 {background-color:#8f0f4c; vertical-align:middle; padding:2px;}
    td.c11 {background-color:#3a2483; vertical-align:middle; padding:2px;}
    td.c10 {background-color:#0077c0; vertical-align:middle; padding:2px;}
    td.c9 {background-color:#004979; vertical-align:middle; padding:2px;}
    td.c8 {background-color:#009b3b; vertical-align:middle; padding:2px;}
    td.c7 {background-color:#e3000f; vertical-align:middle; padding:2px;}
    td.c6 {background-color:#00a6d5; vertical-align:middle; padding:2px;}
    td.c5 {background-color:#006a29; vertical-align:middle; padding:2px;}
    td.c4 {background-color:#f9af22; vertical-align:middle; padding:2px;}
    td.c3 {background-color:#989300; vertical-align:middle; padding:2px;}
    td.c2 {background-color:#f4962c; vertical-align:middle; padding:2px;}
    div.c1 {color: #FFFFFF; text-align: center; font-weight:bold;}

.page-node-30 table {background:#FFFFFF; font-size:11px; }
table#key {background:none; border:0;}
table#key td {border:0;}

.page-node-30 #region-content #node-page-7 #map-image {background:#FF0000; height:900px;}
#map-image span {display:none;}

#block-block-11 {display:none;}

select.quick_menu_select {background:#000; color:#FFF; border:0; width:100%; font-size:14px; height:30px; vertical-align:middle; text-align:center;}

.view-brands .item-list ul li 	{display:block; height:90px; width:130px; float:left; border:1px solid #EAEAEA; background:#FFF; margin:0 10px 20px 10px;}

/*Products Lightbox Styling*/
.node-type-products .field-type-image {width:250px; float:right;}
.node-type-products .field-name-field-sub-category {width:200px; float:left; font-weight:bold; margin:0 0 20px 0;}

.view-product .item-list ul li  {display:block; height:107px; width:180px; float:left; border:1px solid #EAEAEA; background:#FFF; margin:3px;}
.view-product .item-list ul li div a.product_link  {position:relative; z-index:10; width:178px; height:16px; display:block; bottom:20px; padding:2px; color:#000; text-decoration:none; font-size:12px; display:block; font-weight:400;}

.front #block-system-main {display:none;}







