/* This file will hold styles that are loaded using the same media query as the wide grid. */
#block-block-1, #block-block-2, #block-block-4, #block-block-6, #block-block-8, #block-block-9 {width:374px; border:3px solid #fff; height:160px; }
#block-block-3, #block-block-5, #block-views-brands-block-2 {width:184px; border:3px solid #fff; height:160px; }
#block-block-14 {background:url(../images/bottom_images_big.jpg) no-repeat top left; height:185px; display:inherit;}




