/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

#block-block-1, #block-block-2, #block-block-4, #block-block-6, #block-block-8, #block-block-9 {width:294px; border:3px solid #fff; height:144px; }
#block-block-3, #block-block-5, #block-views-brands-block-2 {width:144px; border:3px solid #fff; height:144px; }

#block-block-14 {height:185px; display:inherit; height:150px;}

#block-block-1 p, #block-block-2 p, #block-block-3 p, #block-block-4 p {font-size:12px;}
#block-block-8 p {font-size:10px;}

.front h2 {font-size:14px; margin-bottom:0; }

#contact-left {float:left; width:200px; margin:10px 0 0 0;}
#contact-right {float:right; width:250px; margin:0;}

#contact-left p {font-size:13px; margin:0; text-align:right;}
p#contact-email, p#contact-phone, #contact-left p {font-size:13px; margin:0;}

#contact-email {height:25px;}
#contact-email:before {content:url(../images/1008_envelope.png); width:20px; display:block; float:left; padding-top:2px; margin-left:2px;}
#contact-phone:before {content:url(../images/1008_phone.png); width:20px; display:block; float:left; padding-top:2px; margin-left:2px;}

ul.nice-menu li {border:0; margin-right:5px; font-size:14px;}
ul.nice-menu li.first {margin-left:85px;}

ul.nice-menu a:link, ul.nice-menu a:visited, ul.nice-menu .menuparent a:link, ul.nice-menu .menuparent a:visited, ul.nice-menu-down li.menu-path-nolink {padding:11px;}

#block-block-5 {background:url(../images/home_top_sml.png) top left no-repeat; }
#block-block-6 {background:url(../images/home_mid_sml.png) top left no-repeat;}
#block-block-9 {background:url(../images/home_btm_sml.png) top left no-repeat;}

.front #section-content {min-height: 480px;}
#section-content {min-height:480px;}


.view-product .item-list ul li  {display:block; height:90px; width:150px; float:left; border:1px solid #EAEAEA; background:#FFF; margin:2px;}
.view-product .item-list ul li div span {height:90px; width:150px;}
.view-product .item-list ul li div span a.product_link {width:150px; font-size:10px; bottom:15px;}

